@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #000000;
  transition: 0.4s;
}


@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
